
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#canvas {
  display: block;
  width: 640px;
  height: 240px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}